<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      List Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let iFoto of urlImageStorage;index as position">
          <ion-img width="20" height="20" [src]="iFoto"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngFor="let data of isiData | async">
      <ion-col>
        <h1>{{data.judul}}</h1>
        <p>{{data.isi}}</p>
        <p>{{data.tanggal}}</p>
        <p>{{data.nilai}}</p>
      </ion-col>
      <ion-col>
        <ion-button  color="danger" (click)="hapus(data.judul)"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-col>

    </ion-item>
  </ion-list>

</ion-card>

</ion-content>
